body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
* {
    scroll-behavior: smooth;
}

p{
    font-size: 20px;
}

h1{
    font-size: 35px;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

ul li {
    margin-right: 13px;
    cursor: pointer;
}

ul li:hover {
    margin-top: 2px;
    color: orange;
    transition: all .3s ease-in-out;
}

ul li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-right: 18px;
}

ul li a:hover {
    color: orange;
    margin-top: 2px;
}

.starting_part {
    font-size: 30px;
}

.blog {
    width: 70%;
    padding-left: 7%;
}

.blog img {
    width: 60%;
    padding-left: 4%;
}

.first_part {
    margin-top: 80px;
}

.first_image{
    width: 60%;
    margin-left: 30px;
}

.title_border_left {
border-left: 5px solid tomato;
border-radius:4px;
}

.heading_one {
    margin-right: 20px;
    margin-left: 8px;
    line-height: 45px;
    font-size: 40px; 
}

.starting_part {
    display: flex;
}

.mission {
    color: orange;
}

.link_button{
    width: 350px;
    font-size: 20px;
    padding: 10px;
    background-image: linear-gradient(55deg, lightsalmon, tomato);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    height: 70px;
    align-items: center;
}

.link_button:hover{
    color: white;
    width: 400px;
    transition: all .5s ease;
}

.another_paragraph {
    font-size: 19px;
    font-weight: 100;
    color: gray;
    margin-top: 30px;
}


.my_mission{
    color:midnightblue;
    text-align: center;
    font-size: 45px;
}

.color_orange{
    color: orange;
}

.box_part{
    background: #edf5f6;
    border-radius: 6px;
    box-shadow: 10px 10px 8px 10px gray;
    margin-left: 4%;
    width: 450px;
    font-size: 32px;
}

.box_part img {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 10px;
}

.mission_part {
    font-size: 18px;
    color: gray;
    margin-left: 14px;
}

.heading_three{
    margin-left: 15px;
    margin-bottom: 9px;
}

.flexible_container{
    display: flex;
    margin-bottom: 15px;
    align-items: justify;
    justify-content: center;
}

.vission_part{
    background: #ffeeee;
}

.goals_part{
    background: #fff4d6;
}

.third_part{
    display: flex;
    margin-top: 100px;
    background-image: url(../images/shape-1.png);
    background-size: 190px;
    background-repeat: no-repeat;
    background-position: left 100px center;
    margin-left: 30px;
}

.coders_part{
    display: flex;
    width: 90%;
}

.coders_part img {
    width: 500px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 70px;
}

.btn {
    width: 350px;
}

.coder_part {
    line-height: 30px;
    margin-top: 90px;
    margin-right: 100px;
}

.coder_part_title{
    margin-top: 70px;
}

.global_community{
    font-size: 40px;
}

.global_community_paragraph{
    font-size: 20px;
}

.fourth_part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 100px;
    width: 80%;
}


.image {
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 190px;
    margin-top: 20px;
    background-position: right 140px center;
}

 div a {
    text-decoration: none;
    color: black;
    display: block;
    /* width: 350px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

div a:hover {
    color: white;
    width: 400px;
    transition: all .4s ease-in-out;
}

.button {
    width: 350px;
    font-size: 20px;
    background-image: linear-gradient(55deg, lightsalmon, tomato);
    height: 50px;
    padding: 10px;
    border-radius: 4px;
}

.span_part{
    color: orange;
}
.about_me {
    display: flex;
    justify-content: space-between;
}

.img {
    margin-left: 70px;
}

.about_me_starting {
    margin-top: 80px;
}

.about-me-part-title{
    text-align: center;
    font-size: 80px;
}

.another_blog{
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 55px;
}

.another_div {
    margin-bottom: 16px;
}

.introduce {
    font-size: 50px;
}

#last_part{
    background: black;
    width: 100%;
    height: 150px;
    color: white;
}

#last_span{
    color: orange;
}

#footer_last_part{
    font-size: 40px;
    text-align: center;
    font-style: oblique;
}

.footer_last_part{
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    color: gray;
}